<div class="container">

    <div class="calculadora">
        <app-calc></app-calc>
    </div>


    <div class="texto">

        <h1>CALCULADORA IMC</h1>
        <p>
           <strong> IMC </strong> é a sigla de <strong>Índice de Massa Corporal</strong>, um parâmetro que é utilizado para avaliar se o peso está dentro do valor ideal para a altura. 

        </p>
        <p>  
            É calculado dividindo o <strong>peso (em kg) </strong> pela <strong>altura ao quadrado (em m)</strong>, de acordo com a seguinte fórmula: <strong>IMC = peso / (altura x altura).</strong>
        </p>
        <table>
            <thead>
              <tr>
                <th class="cabecalho">Grau de obesidade</th>
                <th class="cabecalho">IMC</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Abaixo do peso</td>
                <td>Menos de 18,5</td>
              </tr>
              <tr>
                <td>Peso normal</td>
                <td>18,5 - 24,9</td>
              </tr>
              <tr>
                <td>Sobrepeso</td>
                <td>25,0 - 29,9</td>
              </tr>
              <tr>
                <td>Obesidade grau 1</td>
                <td>30,0 - 34,9</td>
              </tr>
              <tr>
                <td>Obesidade grau 2</td>
                <td>35,0 - 39,9</td>
              </tr>
              <tr>
                <td>Obesidade grau 3</td>
                <td>Mais de 40,0</td>
              </tr>
            </tbody>
          </table>
          
    </div>
</div>
